@media screen and (max-width : 1434px){

    .fish1{
        animation: fishanimate1 10s infinite;
    }
    .fish2{
        animation: fishanimate2 10s infinite;
    }
    .bubble2{
        right: 45vh;
    }
    @keyframes fishanimate1
    {
        0%{
            right: 0vh;
        }
        100%{
            right: 67vh;
            top: 30vh;
        }
    }
    @keyframes fishanimate2
    {
        
        0%{
            top: 55vh;
            right: 0vh;
        }
        20%{
            top: 45vh;
        }
        40%{
            top: 55vh;
        }
        60%{
            top: 45vh;
        }
        80%{
            top: 55vh;
        }
        100%{
            top: 45vh;
            right: 67vh;
        }
    }

    
    #main-div{
        display: block;
        left: 8vh;
        padding: 1vh 6vh;
        font-size: 1.6rem;
    }
    #Questions{
        grid-template-columns: 6rem 6rem 1rem;
        grid-template-rows: 5rem 5rem 5rem;
        font-size: 1.5rem;
    }
    #rquestion1 img{
        height: 5.5vh;
    }
    #rquestion2 img{
        height: 5.5vh;
    }

    #rquestion3 img{
        height: 5.5vh;
    }

    #rquestion4 img{
        height: 5.5vh;
    }
    #submit{
        height: 3rem;
        font-size: 1.4rem;
        box-shadow: inset 0 0 30px rgb(13, 0, 255);
    }
    .victoryFish{
        position: absolute;
        background: url(Img/win.png);
        background-size: cover;
        height: 17rem;
        width: 17rem;
        opacity: 0.3;
    }

}

@media screen and (max-width:420px){
    #icon{
        height: 2rem;
        width: 2rem;
    }
    #main-div{
        font-size: 1.4rem;
    }
    .bubble1{
        left: 25vh;
    }
    #rquestion1 img{
        height: 5vh;
    }
    #rquestion2 img{
        height: 5vh;
    }

    #rquestion3 img{
        height: 5vh;
    }

    #rquestion4 img{
        height: 5vh;
    }

}
@media screen and (max-width:378px){
    #main-div{
        width: 58%;
        font-size: 1.3rem;
    }
    #Questions{
        grid-template-columns: 7rem 4rem 1rem;
        grid-template-rows: 5rem 5rem 5rem;
        font-size: 1.5rem;
    }
}
@media screen and (max-width:363px){
    #main-div{
        left: 5vh;
        font-size:1.1rem;
    }
}
@media(max-width:346px){
    #main-div{
        left: 2vh;
    }
    .bubble1{
        left: 10vh;
    }
    #submit{
        width: 29vh;
    }
}