/*Between medium sized Phone and pc*/
@media (max-width: 1434px){

    #ready{
        padding-top: 4rem;
    }
    #ready h1{
        padding: 10px;
        font-size: 4rem;
        margin: 0;
    }
    #ready h2{
        padding: 10px;
        margin: 0;
        font-size: 2rem;
        color: rgb(0, 0, 255);
    }

    .bubble1{
        left: 35vh;
    }
    .bubble2{
        display: none;
    }
    .fish1{
        display: none;
    }
    .fish2{
        display: none;
    }

}
/*Phone*/
@media(max-width:420px){
    .bubble1{
        left: 25vh;
    }
    .super-hero{
        width: 21rem;
    }
    #icon{
        height: 2rem;
        width: 2rem;
    }
}
@media(max-width:346px){
    .bubble1{
        left: 5vh;
    }
    .super-hero{
        width: 0;
        height: 20vh;
        visibility: hidden;
    }
    #startButton{
        width: 32vh;
    }
}