*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    width: 100%;
    background: url(Img/sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.7;
}


#settings{
    z-index: 3;
    position: absolute;
    right: 0rem;
    width: 20rem;
    height: 8rem;
}
#settingsIcon{
    text-align: right;
}
#icon{
    height: 3rem;
    width: 3rem;
}
#icon:hover{
    cursor: pointer;
}
#settingsText{
    display: none;
    margin-top: 1rem;
    font-size: 1.5rem;
}
#settingsText button{

    width: 3rem;
    height: 1.5rem;
}
#settingsText button:hover{
    cursor: pointer;
}

#yes{
    margin-left: 2rem;
}
#no{
    margin-left: 3rem ;
}


.fish1{
    background : url(Img/fish3.png);
    background-size: cover;
    position: absolute;
    height: 17rem;
    width: 25rem;
    animation: fishanimate1 2s infinite;
}
.fish2{
    background : url(Img/fish2.png);
    background-size: cover;
    position: absolute;
    height: 17rem;
    width: 18rem;
    animation: fishanimate2 2s infinite;
}
.bubble1{
    background: url(Img/bubble1.png);
    background-size: cover;
    position: absolute;
    height: 10.2rem;
    width: 11rem;
    left: 40vh;
    opacity: 0.6;
    animation: bubbleanimate1 20s infinite;
}
.bubble2{
    background: url(Img/bubble2.png);
    background-size: cover;
    position: absolute;
    height: 11rem;
    width: 12rem;
    right: 22vh;
    opacity: 0.8;
    animation: bubbleanimate2 20s infinite;
}


@keyframes bubbleanimate1
{
    0%{
        top: 0;
    }
    50%{
        top: 37rem;
    }
    100%{
        top: 0;
    }
}
@keyframes bubbleanimate2
{
    0%{
        top: 36rem;
    }
    50%{
        top: 0;
    }
    100%{
        top: 36rem;
    }
   
}

@keyframes fishanimate1
{
    0%,100%{
        top: 25rem;
        right: 4rem;
    }
    50%{
        right: 4rem;
        top: 20rem;
    }

}
@keyframes fishanimate2
{
    
    0%,100%{
        top: 22rem;
        right: 70rem;
    }
    50%{
        top: 22rem;
        right: 75rem;
    }
}
#startButton a{
    text-decoration: none;
}
#ready{
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
}
#ready h1{
    margin: 1rem;
    font-family:'Dancing Script', cursive;
    font-weight: 900;
    font-size: 5rem;
    color: rgb(255, 255, 255);
}
#ready h2{
    margin: 1rem;
    font-weight: 900;
    font-size: 2.5rem;
    color: rgb(38, 0, 255);
}

#startButton{
    position: relative;
    margin: 1rem;
    height: 4rem;
    width: 15rem;
    box-shadow: inset 0 0 3rem rgb(13, 0, 255);
    border:rgb(47,224,255);
    border-radius: 5rem;
    font-family: 'Dancing Script', cursive;
    font-size: 3rem;
    font-weight: 900;
    color: blue;
}
#startButton span{
    position: absolute;
    border-radius: 5rem;
    inset: 0.4vh;
    border :1vh solid greenyellow;
    filter: blur(0.8vh);
}
#startButton:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.super-hero{
    background: url(Img/190-1903766_hero-clipart-little-superhero-kid-superhero-vector-removebg-preview.png);
    height: 23.6rem;
    width: 24rem;
    margin: auto;
}
