*{
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
}
.sea{
    display: block;
    position: relative;
    background: url(Img/sea.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    opacity: 0.7;
}
.fish1{
    background : url(Img/fish3.png);
    background-size: cover;
    position: absolute;
    height: 35vh;
    width: 50vh;
    top: 2vh;
    right: 2vh;
    animation: fishanimate1 2s infinite;
}
.fish2{
    background : url(Img/fish2.png);
    background-size: cover;
    position: absolute;
    height: 35vh;
    width: 38vh;
    animation: fishanimate2 2s infinite;
}
.bubble1{
    background: url(Img/bubble1.png);
    background-size: cover;
    position: absolute;
    height: 21vh;
    width: 22.4vh;
    top: 0;
    left: 40vh;
    opacity: 0.6;
    animation: bubbleanimate1 20s infinite;
}
.bubble2{
    background: url(Img/bubble2.png);
    background-size: cover;
    position: absolute;
    height: 23.5vh;
    width: 25vh;
    top: 0;
    right: 22vh;
    opacity: 0.8;
    animation: bubbleanimate2 20s infinite;
}


@keyframes bubbleanimate1
{
    0%{
        top: 0px;
    }
    50%{
        top: 76vh;
    }
    100%{
        top: 0px;
    }
}
@keyframes bubbleanimate2
{
    0%{
        top: 76vh;
    }
    50%{
        top: 0;
    }
    100%{
        top: 76vh;
    }
   
}

@keyframes fishanimate1
{
    0%,100%{
        top: 50vh;
        right: 20vh;
    }
    50%{
        right: 20vh;
        top: 40vh;;
    }

}
@keyframes fishanimate2
{
    
    0%,100%{
        top: 55vh;
        right: 140vh;
    }
    50%{
        top: 55vh;
        right: 150vh;
    }
}
#startButton a{
    text-decoration: none;
}
#ready h1{
    position: absolute;
    top: 35vh;
    left: 75vh;
    font-family:'Dancing Script', cursive;
    font-weight: 900;
    font-size: 5rem;
    color: rgb(255, 255, 255);
}
#startButton{
    position: absolute;
    top: 50vh;
    left: 90vh;
    height: 9vh;
    width: 30vh;
    box-shadow: inset 0 0 40px rgb(13, 0, 255);
    border:rgb(47,224,255);
    border-radius: 10vh;
    font-family: 'Dancing Script', cursive;
    font-size: 6vh;
    font-weight: 900;
    color: blue;
}
#startButton span{
    position: absolute;
    border-radius: 10vh;
    inset: 0.4vh;
    border :1vh solid greenyellow;
    filter: blur(0.8vh);
}
#startButton:hover{
    cursor: pointer;
    left: 88vh;
    height: 11vh;
    width: 35vh;
    font-size: 7vh;
}
